[2014-08-30 19:16] fniephaus opened #2 "5000+ link support"
It looks like Pocket's API requests are limited to 5000 links. Needs fixing

[2014-09-04 14:19] michaelwoodruff opened #3 "Search by Tag"
Love the workflow.

I use tags quote a bit with Pocket. Any way to add the ability to search by tags? Multiple tags as well with a comma separating them.

Thanks for the great work.

[2014-10-20 08:23] #3 closed, assigned to fniephaus

[2014-10-20 08:24] #2 closed, assigned to fniephaus

[2015-01-08 12:32] macx opened #6 "Feature: Open in Pocket"
I miss the option “Open in Pocket“ instead of open the source url in the browser. By this way I'm able to view the article in the readability mode. Any plans?

[2015-01-08 14:08] fniephaus commented on #6
Hi @macx,
That shouldn't be much of a problem and I'm happy to add this.
Just to make sure: are you talking about the pocket website or about a native client?

[2015-01-08 14:14] macx commented on #6
For the beginning I think the website is enough. If it isn't a deal you can think about open it in the chrome app or in the native app, if it support direct links. For me, chrome is ok.

Pressing the return key should open it in Pocket (browser). We already heave with CTRL the option to open it in the browser (and to archive it).

BTW: Great extension!

[2015-01-08 14:17] fniephaus commented on #6
Thanks. I'll have a look into that as soon as I can.

[2015-01-10 16:10] fniephaus commented on #6
I had some time to work on this. It's now possible to register custom magic arguments with `Alfred-Workflow`, so I have moved the deauthorization functionality to `wf:deauth`.

The shift action can now be used to open links as suggested on getpocket.com.
Here's the commit: f3a14fc1f4cd9378b61f9678aa14a5aba2ef887c

I will keep working on the workflow in the next couple of days.
The new features wil

[2015-01-10 16:10] #6 closed

[2015-01-29 12:07] ired opened #8 "Pocket List ist Empty!"
Thank you for the workflow! It has worked for me until today. It tells me that my pocket list were empty, which is not.

this is the debug info alfred shows:

Starting debug for 'Pocket for Alfred'

[STDERR: alfred.workflow.input.scriptfilter] 13:05:02 workflow.py:1610 DEBUG    Loading cached data from : /Users/vladislavgapurov/Library/Caches/com.runningwithcrayons.Alfred-2/Workflow Data/com.fniep

[2015-01-29 12:42] fniephaus commented on #8
Hi @ired,
Thanks for your bug report.
Could please try again with the latest version of the workflow:
https://github.com/fniephaus/alfred-pocket/releases/tag/v4.2

You might also want to try and run `pocket wf:reset` to reset the workflow.

[2015-01-29 12:47] ired commented on #8
thanks! it has worked even without reseting.

[2015-01-29 12:49] fniephaus commented on #8
That's great. Thanks for getting in touch.

[2015-01-29 12:49] #8 closed

[2015-03-02 09:06] fniephaus opened #10 "Syncing problems when disconnected from internet"

[2015-03-02 17:35] #10 closed

[2015-04-05 13:18] suclogger opened #11 "Can't add new pocket items."
Now I can't add new items to pocket via this workflow.
I tried both hotkey and _pocket_add on my chrome,
and I tried authorize and updated the token saved in keychain,
but it just won't work.
It just happened a day or two,hoping you can fix this.

It is a great workflow .I use it nearly everyday.Thanks a lot for the brilliant work you have done.

[2015-04-05 13:44] fniephaus commented on #11
@suclogger thanks for your bug report.
Could you please provide a debug log? Have you tried to just delete the token from your keychain and then re-authorize?
I am still able to add new links, so maybe there's something wrong with your setup...

[2015-04-07 11:39] suclogger commented on #11
Yesterday was a holiday in China :) .Sorry for the late reply.
Here are some `debug message` from alfred console.

[code]

[2015-04-07 11:44] fniephaus commented on #11
Thanks, @suclogger.
I will have a look into this as soon as I can.

[2015-04-13 16:25] Strajk opened #13 "Error when adding item without tags"
Hi, thanks for great work!
Is it possible to add item without tags? It's not working for me... with any tag it's working fine.
![otsqil6qwa](https://cloud.githubusercontent.com/assets/697301/7120023/698ee1a8-e20a-11e4-8cf7-ae8526babdc4.gif)

[2015-04-13 17:04] #13 closed

[2015-04-13 17:05] fniephaus commented on #13
Thanks for reporting, @Strajk.
I've pushed v4.6 which should resolve the issue.

[2015-04-16 16:48] Strajk commented on #13
Thanks for quick feedback!
Can you pls also push it to Packal?

I still see 4.5 there
![pocket for alfred packal 2015-04-16 18-48-18](https://cloud.githubusercontent.com/assets/697301/7186333/2b557e5e-e469-11e4-8ad7-be284ec2e114.png)

[2015-04-16 19:13] fniephaus commented on #13
Done :)

[2015-04-17 08:20] Strajk commented on #13
Everything is awesomeeeee :)) thanks!

[2015-04-17 09:07] fniephaus commented on #13
:smile:

[2015-07-24 22:32] squiter opened #14 "Can't update workflow"
Hi, the workflow is showing to me that is an update available, but nothing's happening when I selectet `pocket workflow:update`
I'm using Alfred 2.7.1

[2015-07-24 22:40] squiter commented on #14
Some logs in debug:

[code]

[2015-07-25 10:12] fniephaus commented on #14
Thanks for the bug report!
I will look into this next week.

[2015-07-25 20:33] #11 closed

[2015-07-25 20:35] fniephaus commented on #14
@squiter could you please update to `v4.6` manually and try again?

[2015-07-25 23:39] squiter commented on #14
@fniephaus I'm using v4.6, but now the workflow doesn't see any update available.

log:

[code]

[2015-07-26 08:49] fniephaus commented on #14
@squiter: this is normal. First of all, you're already running the latest version now, so there is no update :) There's also `Update check not due` in the log which indicates that the workflow already check for updates before. It's not checking every time you use the workflow. It's checking every day only once.

Hope this helps :smiley:

[2015-07-26 08:49] #14 closed

[2015-07-26 13:58] squiter commented on #14
Hmm alright @fniephaus thanks for your feedback! :)

[2015-07-26 14:17] fniephaus commented on #14
You're welcome!

[2015-09-11 14:06] SimplyY opened #15 "can search in archive"
I can't find how to search item in archive.

please help.

[2015-09-11 16:27] fniephaus commented on #15
Currently, the workflow ignores archived items, so there is no way to list them or search through them.
How often do you look at archived items?

[2015-09-12 02:00] SimplyY commented on #15
I want to use it to search what I have read.

Beacause some items is very useful, such as code articles.

[2015-09-14 09:35] fniephaus commented on #15
It's possible, but you would need to change the code.
I can't test anything right now, but basically you need to edit this file:
https://github.com/fniephaus/alfred-pocket/blob/master/src/pocket_refresh.py

**[L20](https://github.com/fniephaus/alfred-pocket/blob/master/src/pocket_refresh.py#L20)**
```state = None``` change to ```state = 'all'```

**[L75-L77](https://github.com/fniephaus/alfred-poc

[2015-09-14 13:39] SimplyY commented on #15
I try it. But it don't work.

file that I changed :

![image](https://cloud.githubusercontent.com/assets/8455579/9850970/e1b63f18-5b28-11e5-8e15-315acd5dd24a.png)

[2015-09-14 22:12] fniephaus commented on #15
Like I said, I currently don't have my MacBook, but let me get back to you in two
weeks, ok?

[2015-09-15 02:07] SimplyY commented on #15
ok， very thanks。

[2015-10-04 20:18] fniephaus commented on #15
Have you also tried to run `pocket wf:delcache` in Alfred to delete the cache?

[2015-10-05 04:15] SimplyY commented on #15
![image](https://cloud.githubusercontent.com/assets/8455579/10272934/7c7c9af6-6b5a-11e5-8029-fdf10c9a7e2a.png)

I see it, and press enter. But it just seem cant be press enter...

[2015-11-01 00:08] fniephaus commented on #15
The cache is already cleared when you see this message.
I assume this didn't solve your problem?

[2015-11-01 01:51] SimplyY commented on #15
yes

[2015-12-14 01:45] djan92 commented on #15
Any more thoughts on how we can search through archive also? I followed the steps and no luck. Thanks so much in advance.

[2015-12-14 01:56] fniephaus commented on #15
Hi,
I haven't forgotten about this.
Unfortunately, my MacBook is still in repair. I will follow up as soon as I can.

[2015-12-14 03:58] djan92 commented on #15
Thanks for the super quick response. Spent some time trying to debug it and it looks like the problem is somewhere in the Alfred display portion. The cached data seems to store data with time_read and grabbing archived articles.

I can't figure out why it's filtering out on the search/display.

Let me know if I can help in any way. Thanks again!

[2016-01-28 16:48] r3volution11 opened #16 "Temporarily Did Not Work"
Hey, love this workflow. This isn't so much an issue as it is a question/notification.

For some reason it temporarily decided not to work. I deauthorized it and then it magically started to work again without reauthorizing. Is this something that may happen every now and then? If so it may be good to write a note in the README letting users know what to do in the event it happens.

Thanks!

[2016-02-01 00:13] fniephaus commented on #16
Hi @r3volution11,
This is the first time that I hear about a problem like this.
Is there any way to reproduce this?

[2016-02-07 00:25] r3volution11 commented on #16
@fniephaus I haven't figured out a way to reproduce it, no.

[2016-02-20 05:58] jasontate commented on #15
This seems like a great addition, I'd like this as well.

[2016-03-22 22:39] fniephaus opened #17 "Add support for previews?"
suggestion by johnyull at http://www.alfredforum.com/topic/4127-pocket-for-alfred/?p=38392

[2016-03-30 15:28] fniephaus commented on #17
Available via `shift` since 21157b479caffb63d62be634c0babd3370663c83.

[2016-03-30 15:28] #17 closed

[2016-03-30 15:29] #16 closed

[2016-04-08 09:14] xbot opened #18 "How can I use the ctrl+L to save the current safari tab ?"
I tried every possible way I could think, nothing happened.

[2016-04-08 09:41] fniephaus commented on #18
Which version of alfred-pocket are you using?

[2016-04-08 10:33] fniephaus commented on #18
And is the shortcut working if you use Chrome or if you copy a link into your clipboard?

[2016-04-08 15:00] fniephaus commented on #18
You don't need to open Alfred for this, just press ctrl+L while in Safari or in Chrome or if you have a link in your clipboard and make sure your computer is connected to the internet.

[2016-04-10 12:04] fniephaus commented on #18
Do you see something like this for the workflow in your Alfred Preferences:
![image](https://cloud.githubusercontent.com/assets/2368856/14410065/18a6b9a8-ff25-11e5-9a40-fd6c0e7a9c1a.png)

[2016-04-10 14:22] fniephaus commented on #18
mh I'm not sure if this is normal, but I'm glad it's working now.
I'll follow up when I have time. Is it possible that some other workflow has already been using the hotkeys?

[2016-05-12 06:29] nikitavoloboev opened #19 "%0A is appended to non-article URLS"
I have the issue with %0A being appended to a lot of my links, it seems the ones that cannot be open in 'article view' will get this %0A appended to their links thus I can't open them in browser and it is very annoying.

What can I change to remove this behaviour and have the original links being added so I can then open them in browser.

Thank you for a great workflow.

[2016-05-12 07:20] fniephaus commented on #19
Hi @nikitavoloboev,
Thanks for opening this issue.
Is `%0A` added to the links when you add them, so that you cannot open them in Pocket's website either or is it just this workflow that can't open these kind of links?

[2016-05-12 07:21] fniephaus commented on #19
AFAIK `%0A` is a line feed character which is interesting :)

[2016-05-12 07:25] nikitavoloboev commented on #19
here is a screencast of the bug in action : http://quick.as/OWz4hDbWX

[2016-05-12 07:28] fniephaus commented on #19
Thanks! I can reproduce it, that's perfect!

[2016-05-12 07:35] #19 closed

[2016-05-12 07:37] fniephaus commented on #19
I've just release [v5.2](https://github.com/fniephaus/alfred-pocket/releases/tag/v5.2) which should fix this problem 😃 .

[2016-05-12 07:40] nikitavoloboev commented on #19
that was fast, thank you

[2016-05-21 10:10] nikitavoloboev opened #20 "I would really love a feature where I can add an article and archive it instantly with some tag"
I add articles I want to read later to pocket but sometimes I come across certain articles that I read fully right from the browser, I want to have pocket be my go-to place for articles both archived and ones I want to read. Having this additional feature would allow me to just press a hotkey and archive the read article instantly in pocket with some custom tag.

Right now to achieve this behaviou

[2016-05-21 11:50] fniephaus commented on #20
Hi @nikitavoloboev,
Thanks for the feature request. I will look into this as soon as I can.

[2016-05-27 09:38] iyee opened #21 "Can't get Pocket reading list"
<img width="612" alt="screen shot 2016-05-27 at 17 36 58" src="https://cloud.githubusercontent.com/assets/88564/15604209/b2e8b256-2431-11e6-8a8a-bac9dcffe92f.png">
I wonder how to reauthorize to get it back to work.

[2016-05-27 09:48] fniephaus commented on #21
`pocket wf:deauth` should do the trick :)

[2016-05-27 10:17] iyee commented on #21
@fniephaus token delete,
<img width="619" alt="screen shot 2016-05-27 at 18 15 33" src="https://cloud.githubusercontent.com/assets/88564/15605209/1d6afb84-2437-11e6-96a6-dcaef8a89c9e.png">

The auth process completed successfully, but still can't get list in the next attempt.

[2016-05-27 16:15] fniephaus commented on #21
Are you using the latest version?
Has it worked before?

[2016-05-27 22:36] nikitavoloboev commented on #21
Had this happen before to me too. Adding a new article to the list fixed the issue for me.

[2016-05-27 22:38] nikitavoloboev opened #22 "Would it be possible to also add search within archive?"
I think it would really be a great feature. I sometimes want to reference some article I read long time ago and archived, would be great if I could do a quick search for it within the alfred prompt.

What do you think?

[2016-05-28 02:28] iyee commented on #21
@fniephaus I'm using the latest version & it was working last week. Tried reinstalling it but still fails.
@nikitavoloboev I add items everyday.

[2016-05-29 17:54] fniephaus commented on #21
So your problem is fixed, @iyee?
How many items do you have in your account? Is there any way you can reproduce the issue?

[2016-05-29 18:01] fniephaus commented on #22
Closing this in favor of #15

[2016-05-29 18:01] #22 closed

[2016-05-29 21:00] fniephaus commented on #15
What would be better: another script filter (e.g. `pocket-archive`) for archived items only or would it be better to do something similar to Google/Gmail search, e.g. `pocket is:archived`, or should there be a menu like `unread`, `archived`, `labeled`...what would be best?

[2016-05-30 02:26] iyee commented on #21
@fniephaus around 300 items, & it fails again, Alfred debug info:
[code]
Nothing can be traced...

[2016-05-30 07:30] fniephaus commented on #21
What happens after you cleared the cache (`pocket wf:delcache`)?

[2016-05-30 07:58] iyee commented on #21
It's still returning empty list:
[code]

[2016-05-30 08:00] fniephaus commented on #21
Would you mind sending me your token to [the email address on my profile](https://github.com/fniephaus/).
You can find it in your Keychain by searching for `com.fniephaus.pocket`.

[2016-05-30 08:44] iyee commented on #21
@fniephaus Sent, thanks for helping.

[2016-05-30 09:09] iyee commented on #21
the workflow returns results from time to time, but mixed with some outdated items.

[2016-05-30 09:11] fniephaus commented on #21
I received your token, but everything seems to be working on my system.
What OS X version are you using?

[2016-05-30 09:16] iyee commented on #21
@fniephaus I guess the server is not stable enough to offer data all the time, it's working for me now.

OS X 10.11.5

[2016-05-30 09:21] fniephaus commented on #21
Mh, interesting. I haven't really noticed any problems like this myself, but it seems that there is a problem with Pocket's API when it's been used by multiple clients for the same user. BTW: their last update for the API docs page is from 2012 😢

[2016-05-30 17:48] #18 closed

[2016-05-30 17:49] fniephaus commented on #21
I've updated the way entries are synced once more. I hope it's more stable with the next release...

[2016-05-30 17:49] #21 closed

[2016-05-30 17:52] fniephaus commented on #20
Hi @nikitavoloboev,
How about we add a special tag called `#archive` and if you add this as a custom tag, the entry will be archived right after it has been added.
Searching through archived items is in the making (see #15)...

[2016-05-30 19:13] nikitavoloboev commented on #20
For me it would be better to have a separate hotkey trigger that puts the article that I am viewing into archive and gives me a prompt as to what tag I want to have attached to it.

My current use case of your workflow is simply pressing the hotkey to instantly add the article to pocket for later viewing without adding a tag.

![2016-05-30 at 21 11](https://cloud.githubusercontent.com/assets/63917

[2016-05-30 19:38] fniephaus commented on #20
So you just want to be able to label links *after* you have archived them with this workflow?

[2016-05-30 19:48] nikitavoloboev commented on #20
It would work the same as it does now, that is you trigger the hotkey, a prompt shows up and you write your tags. However instead of adding it to the pocket list, it would add it to archive.

[2016-05-30 20:09] fniephaus commented on #20
ok, got it :)

[2016-06-01 23:00] fniephaus commented on #15
I have just added a pre-release of v6.0 which adds support for categories:
https://github.com/fniephaus/alfred-pocket/releases/tag/v6.0

[2016-06-01 23:00] #15 closed

[2016-06-01 23:00] fniephaus commented on #20
I have just added a pre-release of v6.0 which adds a shortcut for your use-case:
https://github.com/fniephaus/alfred-pocket/releases/tag/v6.0

Please note that it requires Alfred 3.

[2016-06-01 23:00] #20 closed

[2016-06-02 12:39] nikitavoloboev commented on #20
Thank you so much. ♥

I especially love the addition of choosing what exactly do you want to search in Pocket. This is awesome.

[2016-06-02 12:39] fniephaus commented on #20
I'm glad you like it!

[2016-06-02 12:55] nikitavoloboev commented on #20
This addition makes me think. Would it be also possible to add search by tag to that general search window?

[2016-06-02 12:59] fniephaus commented on #20
Yep, it's possible. Please open a new issue and I will look into this as soon as I can

[2016-06-02 13:03] nikitavoloboev opened #23 "[Feature Request] ability to search through tags in the 'main script filter'"

[2016-06-06 13:03] shigg1120 opened #24 "how to download?"
This is a noobish question.How do I donwnload?I dont see the workflow file in the folder

[2016-06-06 13:04] fniephaus commented on #24
The `.alfredworkflow` files are part of the releases:
https://github.com/fniephaus/alfred-pocket/releases

[2016-06-06 13:04] #24 closed

[2016-06-06 13:23] shigg1120 commented on #24
thank you sir.I like it!!

[2016-06-06 14:59] #23 closed

[2016-06-06 18:55] fniephaus commented on #24
No worries! You're welcome

[2016-06-08 21:15] nikitavoloboev opened #25 "[feature request] add possibility to favourite archived article with modifier keypress"
Recently you have added a great addition of archiving articles instantly and giving the article a set of tags. It would be really nice if one could additionally have the ability to press modifier key command or other modifier to also favourite that entry.

I hope it won't be too difficult to implement and you can agree on its usefulness. Thank you so much for such a great workflow.

[2016-06-10 11:01] fniephaus commented on #25
This should be fairly simple, but I don't want to overload the workflow with too many features that only few users have. I'll integrate this as soon as I have some time...

[2016-07-15 11:17] nikitavoloboev opened #26 "Would it be possible to add an option to view all the tags that user has?"
I want to have one more option in this main window :

![2016-07-15 at 13 16](https://cloud.githubusercontent.com/assets/6391776/16872625/4ea7f666-4a8e-11e6-993f-6bbda20de7dd.png)

Which would be 'my tags' and from there I can search and see the various tags that I have. On clicking the tags, I would be able to see the articles associated with the tags.

This would really be amazing to have. I hope

[2016-07-15 12:58] fniephaus commented on #26
Thanks for the suggestion. I might add the feature when I have some time, but I'm currently quite busy I'm afraid.

[2016-07-28 13:00] Meflou commented on #26
It would be amazing if that will be done. Also when adding a new link, it is good if it can display tags for the user to choose from instead of typing them manually.
<img width="634" alt="komypp2" src="https://cloud.githubusercontent.com/assets/10213346/17213276/5f7e1e0e-54dc-11e6-8614-2d84d99c8a18.png">

[2016-07-28 13:01] fniephaus commented on #26
I might have some time to do this in the next few weeks...

[2016-08-17 19:33] nikitavoloboev commented on #25
Hey,

Just wanted to bump this issue because I would really love to have it working. I am currently somewhat avoiding it by using 'fav' tag but I would much rather favourite the articles the way they are supposed to be starred.

Thank you again for the workflow. :)

[2016-08-17 19:41] fniephaus commented on #25
Hi @nikitavoloboev, sorry I'm currently very busy with other things, but it's still on my todo. I hope I'll find some time in the next two weeks. Hope that's ok...

[2016-08-17 19:45] nikitavoloboev commented on #25
Yes, I understand. Of course.

[2016-08-25 11:52] Meflou opened #27 "Tags starting with a dot '.' are not accepted"

[2016-09-06 12:30] fniephaus commented on #27
![image](https://cloud.githubusercontent.com/assets/2368856/18273602/5f22ac0a-743e-11e6-90e7-688e64c2fd11.png)
Hi @Meflou, I can't seem to reproduce your problem. Do you have a problem adding links with tags starting with a dot or searching for links with such tags?

[2016-09-06 13:41] #25 closed

[2016-09-06 13:41] #26 closed

[2016-09-06 13:41] #27 closed

[2016-09-06 13:42] fniephaus commented on #25
![image](https://cloud.githubusercontent.com/assets/2368856/18275583/f5edb34c-7447-11e6-9413-320789115e31.png)
I've added a script that you can connect the `pocket` script filter with. There aren't any modifier keys left, so you'd need to replace one of them with your new favorite modifier. I'm afraid you need to customize this every time you update the workflow, but this is as best as I can get i

[2016-09-06 14:04] fniephaus commented on #27
Tag handling has changed in v6.1, please reopen if it still doesn't work.

[2016-09-17 20:27] nikitavoloboev opened #28 "add auto complete to archiving a link"
When you are in this window and you want to archive a list :

![2016-09-17 at 22 26](https://cloud.githubusercontent.com/assets/6391776/18610804/d7d751ce-7d25-11e6-9667-f8b89c8ed074.png)

It would be nice if I could start typing the list I want to add the link to and the options below would narrow down to my search.

[2016-09-17 21:26] fniephaus commented on #28
Should have some time to work on this in the next few weeks. This might also be a good opportunity for you to understand how Alfred workflows work and how to write some Python code 😉

[2016-09-17 21:32] nikitavoloboev commented on #28
I would actually love to implement it myself, not really sure where to start though and how I can achieve this narrowing down of search results. Can you perhaps give me a direction to go with?

[2016-09-17 21:39] fniephaus commented on #28
The script filters you want to change execute `python pocket_tags.py ...`, so you'd need to edit the  [`pocket_tags.py` file](https://github.com/fniephaus/alfred-pocket/blob/23eb35096062cba3c6e7f773cb3d6dc703af6607/src/pocket_tags.py). The current user query is in [`args.query`](https://github.com/fniephaus/alfred-pocket/blob/23eb35096062cba3c6e7f773cb3d6dc703af6607/src/pocket_tags.py#L19) and you

[2016-10-23 22:21] nikitavoloboev commented on #25
Hey Fabio,

I just tried to use this but it seems to not work for some reason. I made a screencast of me trying to use it here : http://quick.as/5O34f1XDA

Perhaps I am using it wrong or doing something wrong.

Thank you for any help. Love the workflow.

[2016-10-24 09:04] fniephaus commented on #25
Are you sure you pressed `ctrl` when hitting enter? Did the link end up in your favorite list instead?

[2016-10-24 09:07] nikitavoloboev commented on #25
I m sure. It didn't end up in neither.

[2016-10-24 09:24] fniephaus commented on #25
You need to connect the favorite "Run Script" with the "Main script filter" and then remap one of the modifier to the favorite action. Here's an example:
![image](https://cloud.githubusercontent.com/assets/2368856/19640277/3fa47052-99dc-11e6-8768-212608559109.png)
There still is a little bug that I'm going to fix now, but then you can use the modifier in the pocket list to favorite an item.

[2016-10-24 09:27] fniephaus commented on #25
here you go: https://github.com/fniephaus/alfred-pocket/releases/tag/v6.2

[2016-10-24 09:28] nikitavoloboev commented on #25
But it should archive the article, with tags I wrote and favourite it if pressed with a modifier key. Do I understand that correct?

[2016-10-24 09:31] fniephaus commented on #25
No, that's not how the favorite option works. You can only favorite a link from the list of links you see in Alfred and that you already have in your Pocket list. You can't add a new link to your Pocket list, archive, and favorite it in one step.

[2016-10-24 09:32] nikitavoloboev commented on #25
Oh I understand that now. My bad. For me though it would be much more intuitive to both archive a link with tags and favourite it instantly all in one step as when I have read the link, I know if it will be a favourite.

[2016-10-24 09:34] fniephaus commented on #25
Could you open a new feature request/issue for that? I'm currently very busy with other things. If you have some time, maybe try implementing this yourself and contribute your changes. I'm happy to assist :)

[2016-10-24 09:36] nikitavoloboev opened #29 "[feature request] favourite and archive a link with tags with one hotkey"

[2016-10-24 09:36] nikitavoloboev commented on #29
I will try to implement it myself and hopefully succeed. :)

[2016-10-24 09:38] fniephaus commented on #29
Let me know if you need any help. Basically you need to add the link to Pocket first and then archive and favorite it instantly afterwards.

[2016-10-25 23:58] nikitavoloboev opened #30 "bug with update in new alfred version"
![2016-10-26 at 01 57](https://cloud.githubusercontent.com/assets/6391776/19708544/912765bc-9b1f-11e6-9d62-99deb162e177.png)

This message shows up every time. It is unclickable and I believe I am on the latest version. (one from Packal).

[2016-10-26 00:05] fniephaus commented on #30
Forgot to bump the version file. Resolved in [`v6.3`](https://github.com/fniephaus/alfred-pocket/releases/tag/v6.3).

[2016-10-26 00:05] #30 closed

[2016-12-21 18:00] nikitavoloboev opened #31 "Would be awesome to add ability to check if article of certain url is already in my Pocket library to avoid duplicates"
I am not sure whether Pocket, prevents users from adding duplicate articles to the library, I think it doesn't.

It would be really useful I think to add ability to check whether the url that is supplied with the article is not already in the pocket library, if it is, it should inform the user about it.

As my Pocket collection has grown, it is often quite hard to remember whether you have already

[2017-01-02 11:45] fniephaus commented on #31
Hi @nikitavoloboev,
This is a neat idea and it should be possible to implement. Unfortunately, I currently have not enough time to work on this, I may add this in the future unless someone else is quicker and wants to contribute.

[2017-01-27 15:27] nikitavoloboev opened #32 "It should add a space after autocompleting a tag from 'Tags'"
In this mode :

![2017-01-27 at 16 26](https://cloud.githubusercontent.com/assets/6391776/22376221/6d0d105a-e4ad-11e6-8dcc-e58f94a1ddae.png)

When you autocomplete a tag like so :

![2017-01-27 at 16 27](https://cloud.githubusercontent.com/assets/6391776/22376234/791f315c-e4ad-11e6-81f2-a792040d4823.png)

It should also append a space, so then you can instantly search for articles or add a new tag

[2017-01-27 16:35] nikitavoloboev commented on #32
Also is it possible to specify multiple tags for filtering, so for example if I have an article that has a tag 'code' and 'c' like so :

![2017-01-27 at 17 34](https://cloud.githubusercontent.com/assets/6391776/22378727/dcd5d5a8-e4b6-11e6-89b1-b562bc53e046.png)

Would be awesome if I could do this :

![2017-01-27 at 17 34](https://cloud.githubusercontent.com/assets/6391776/22378751/eaec6e7c-e4b6-1

[2017-02-06 15:09] IamLeTea opened #33 "break line is appended to the url"
Hi fniephaus,

I like your workflow very much!
But I find a problem is "when I save a link from Clipboard, the url will append a break line(\n)"
So I try to looking for the question and I find is from the function "get_link_from_clipboard"
I guess is the readline method will carry a "\n"

workflow version: 6.3

Thank you :)

[2017-02-28 16:41] danielma opened #34 "Adding a link from Chrome doesn't work if Chrome is not installed in `/Applications`"
I've installed Chrome using `brew cask`, so it's installed at `/usr/local/Caskroom/google-chrome/latest`.

[`pocket_save.py`](https://github.com/fniephaus/alfred-pocket/blob/master/src/pocket_save.py#L62) assumes that Chrome will always be installed at `/Applications/Chrome.app`.

In order to save links to pocket, I have to copy the link from Chrome, then focus on a different app and use the `add-

[2017-03-01 21:16] fniephaus commented on #34
Thanks for opening the issue.
Is there a good way to identify Chrome's installation path other than trying out different default directories? Does it work when you change the path to `/usr/local/Caskroom/google-chrome/latest` in your `pocket_save.py`?

[2017-03-01 21:28] danielma commented on #34
I tried it out locally, and everything worked properly when I identified Chrome only by the app name and not by the path. I've submitted a PR for that change

[2017-03-01 21:29] #34 closed

[2017-03-01 21:41] #32 closed

[2017-03-01 22:04] #33 closed

[2017-03-02 10:09] fniephaus opened #36 "Screencast outdate"

[2017-04-17 12:25] godbout opened #37 "Your pocket list is empty! But it's not"
Hi there,

Installed the workflow and authorized it, but it tells me my lists are empty. They are not. Here's the debug info:

Any help?

[code]

[2017-04-17 15:53] fniephaus commented on #37
What Alfred version are you using? I've just updated to the latest version and also have the problem now...

[2017-04-17 16:08] fniephaus commented on #37
Okay, there was a `Python` process running at 100% in my Activity Monitor. After killing it, the list appeared again...could you check if this is also your problem?

[2017-04-17 16:18] godbout commented on #37
Hey Fabio. Yes, same issue. Python process eating the CPU. It seems to be a problem with macOS Sierra. I've updated the alfred-workflow python framework that you are using, and it works now every time. You might want to update that in your own workflow and release a new version? Cheers.

[2017-04-17 16:19] godbout commented on #37
(Oh btw if you don't mind me asking here, are you able to upload your workflow on packal? I've been trying to push new ones for a few months now, the site always crashes.)

[2017-04-17 16:27] fniephaus commented on #37
Hi @godbout, thanks for confirming. I've already updated `alfred-workflow` in the meantime. I'm glad @deanishe stays on top of things. Also, I was able to update the `alfred-pocket` workflow on packal, not sure what happens when I try to add a new one. Maybe ping @shawnrice?

[2017-04-17 16:27] #37 closed

[2017-04-17 16:29] godbout commented on #37
Excellent, thanks.
I've contacted a few times @shawnrice about that but no answer.

[2017-04-17 17:53] deanishe commented on #37
It might be worth [running this workflow](https://github.com/deanishe/alfred-fixum).

It'll fix any other workflows you have that are using buggy version of Alfred-Workflow until developers push official updates.

Regarding Packal: sometimes it works, sometimes it doesn't. Shawn's too busy to work on it atm.

[2017-04-18 05:24] godbout commented on #37
Alright, thanks @deanishe for confirming about Packal.
Workflow works great, 3 were out of date!

[2017-04-26 19:35] jasontate opened #38 "Python running for extensive times"
I'm seeing Python running in the background, pretty extensively, due to this Workflow. Has anyone else seen this?

<img width="351" alt="screen shot 2017-04-26 at 12 35 43 pm" src="https://cloud.githubusercontent.com/assets/7143532/25453171/e6c6c3cc-2a7c-11e7-9712-01604814b06c.png">

[2017-04-26 19:36] fniephaus commented on #38
Is your problem related to https://github.com/deanishe/alfred-workflow/issues/111?

[2017-06-21 12:27] wcsherrod commented on #38
I've noticed the same problem occurring intermittently. It does not seem to be related to the issue described in the thread above. I'm running Alfred 3.3.2 on 10.12.6 beta. The problem started within the past month or so, possibly after a system update.

<img width="557" alt="screen shot 2017-06-21 at 7 16 27 am" src="https://user-images.githubusercontent.com/13273984/27383864-6b7a697e-5652-11e7-8

[2017-06-26 18:05] deanishe commented on #38
@wcsherrod: Try running [this workflow](https://github.com/deanishe/alfred-fixum). It should fix the issue with Python workflows hanging and consuming 100% of CPU.

[2017-06-27 07:31] fniephaus commented on #38
@deanishe Looks like it...will fix that soon, thanks!

[2017-06-28 05:08] fniephaus commented on #38
Should be fixed in [`v6.7`](https://github.com/fniephaus/alfred-pocket/releases/tag/v6.7).

[2017-06-28 05:08] #38 closed

[2017-12-05 11:02] SFurnace opened #39 "Use url as uid to make alfred sort result automatically."
I think add this feature will make this great workflow even more useful.

Just add `uid=link['given_url'],` in pocket.py:167 is enough.

[2017-12-05 11:04] fniephaus commented on #39
Feel free to open a PR for this, so it will count as your contribution ;)

[2017-12-05 11:07] SFurnace commented on #39
OK, thanks~

[2017-12-05 14:34] fniephaus commented on #39
Closing this in favor of #40

[2017-12-05 14:34] #39 closed

[2018-02-04 19:40] proxemics opened #44 "Open Search in Pocket?"
Absolutely love this workflow! I use Pocket extensively and it works flawlessly, really great stuff!

Was curious, is it possible to open a search in Pocket web? I know I can open the link in Pocket using shift, curious if this kind of functionality can be added to an entire search?

The search is amazing in this workflow, but sometimes it's easier for me to find the article using the images and v

[2018-02-04 19:48] fniephaus commented on #44
Thanks, @proxemics! Glad you like it.
I don't think Pocket's API provides any search hooks and [their website](https://getpocket.com/a/queue/list/) does not seem to accept any parameters, so I'm afraid your request is not possible at the moment.
Feel free to re-open this if you come across a way to programmatically open their search page.

[2018-02-04 19:48] #44 closed

[2018-02-04 19:50] proxemics commented on #44
Ah, gotcha. Thanks for the quick response and for even considering it! 🙏

[2018-02-18 21:13] Kitefr opened #45 "[Suggestion] Add the action to select a random article"
Hello !

Just started using your workflow and it is amazing.
I'd like to add  a feature to it.

The action "random" will call the url : `https://getpocket.com/random` which randomly select an article from your list you haven't read yet.

I can add it myself with the Alfred workflow system but it will by nice to have it in yours.

Thank you !

[2018-02-19 11:50] fniephaus commented on #45
A `Random` action should be easy to implement. However, I would be against calling the `/random` URL, because it requires to be logged in in your browser. Instead, why not randomly select a URL locally instead?
Pull requests are more than welcome, otherwise I'm not sure how soon I have time to work on this.

[2018-02-20 09:00] Kitefr commented on #45
In that case, we can retrieve a list of random articles instead of just one. I'll check that this weekend.

[2018-02-20 09:30] fniephaus commented on #45
Yes, that should also be no problem...just randomly sort the list of all items. The workflow downloads all items anyway...

[2018-02-21 11:38] Kitefr commented on #45
I was thinking about doing it this way :
`pocket rand` and `pocket random` will be valid options.
`pocket random 6` limit to 6 the number of articles. Limited to 10 by default.

I do not want to change the flow of your script. What do you think about it ?
Or do you prefer `pocket in:random` to just mimic the other categories ?

[2018-02-21 12:36] fniephaus commented on #45
Hi @Kitefr,
I don't think you need to limit the number of articles by default though.
Also, I think it'd make sense to mimic other categories, just add a new item in the overview? I just checked and `pocket random` actually matches a few articles in my list. I wouldn't want to change the default search behavior if that makes sense.

[2018-02-21 12:51] Kitefr commented on #45
Hi,
I made the change locally, it works great. I didn't cached the data so every input change the result. I do not think it was necessary for a random function.
I already choose `pocket in:random` but i am wondering if `as:random` would be better as random is not an actual category inside pocket.

I choose to limit the result to 10 articles as people would mostly as a few random articles to read d

[2018-02-21 20:45] fniephaus commented on #45
`as:random` makes sense. No need to cache random data at this point as all articles are already cached and it should be relatively cheap to just randomize them.

What do you mean by *limiting the result to `unread` articles*? Which `unread` articles?

[2018-02-21 20:56] Kitefr commented on #45
Unread articles are the one with status `unread` from the API.
Those are articles which are not in the archive category. What the point of getting articles as random if you already read them.

[2018-02-21 21:02] fniephaus commented on #45
Ah okay, so you want a *random unread articles* category?

[2018-02-21 21:10] Kitefr commented on #45
I found it more normal this way, don't you think so too ?

[2018-02-21 21:12] fniephaus commented on #45
If you're adding a new category, that's fine and you can just randomly show unread items. I just want to make sure the current behavior is not changed :)

[2018-02-21 21:21] Kitefr commented on #45
For now, i added a new category: `random`.
As a category, i need to use `in` instead of `as`, otherwise i will have to change a lot of things and i do not want to.
I use your current script behavior as much as i can.

[2018-02-21 21:30] fniephaus commented on #45
Thanks, feel free to open a PR when you are ready and I'll have a look.

[2018-02-21 21:32] Kitefr commented on #45
Just done so. Feel free to look at is when you like.

[2018-02-21 21:34] fniephaus commented on #45
Thanks, closing this in favor of #46.

[2018-02-21 21:34] #45 closed

[2018-04-17 05:12] akougblenou opened #50 "Cannot add new link in with alfred-pocket"
Hi,

I am trying to add new pocket items with alfred-pocket but when I do nothings happened, I got the debugging log here:
[code]

The log is pretty clear so my issue is that I don't know how to set the password on alfred-pocket, do I need to delete the workflow and add it once more ? is there another way ?

[2018-04-17 19:10] AKFourSeven commented on #50
Nevermind I solved the issue, I just deleted the password from my keychain and try again and it worked fine, must have been an issue with OAuth or something.

[2018-04-17 20:41] fniephaus commented on #50
No worries, glad to hear you were able to fix this yourself :) All the best!

[2018-10-29 12:44] nikitavoloboev commented on #29
I no longer use Pocket so this issue can be closed. I doubt anyone else wants this feature.

[2018-10-29 12:44] #29 closed

[2018-10-30 22:46] drod3763 opened #51 "Times out"
I can set my token ok, but when i try to do a search whether for tags, articles or anything of that sort it times out.
[code]

[2018-10-30 22:50] #51 closed

[2018-10-30 22:50] drod3763 commented on #51
Wrong tab.

[2019-01-17 10:21] akougblenou commented on #50
I reinstalled my mac and I don't remember exactly how I solved the issue with the password.
I cannot find the password in the keychain in mac and when I start the debugger, this is what I get:

[code]

Any thoughts on that ?

[2019-01-17 12:45] fniephaus commented on #50
Hi @akougblenou,
Please check your keychains again, is there an entry called `com.fniephaus.pocket` somewhere? That one you need to delete. Alternatively, you can delete your token by typing `pocket wf:deauth` into Alfred. When you run the workflow the next time, the workflow should open the Pocket website asking for authorization. Once you have done that, it should work again.

Hope this helps,
F

[2019-01-18 09:53] akougblenou commented on #50
I do not see `com.fniephaus.pocket`anywhere and I am not sure but I tried typing this command directly into Alfred prompt but it just came back with error in the workflow:
[code]
Maybe I put it in a wrong place...

[2019-01-18 18:46] fniephaus commented on #50
Could please try reinstalling the workflow? What version of Alfred are you using?

[2019-01-18 22:15] akougblenou commented on #50
I did try to reinstall a few times and:
- the first two hot keys (the ones that I used the most) are empty (well actually they are all empty, but maybe this is on purpose, I thought there was supposed to be the first hotkey to be equal to `^+L`)
- I am never prompt to authenticate to pocket
- I still get the password not found error

I am running on Alfred 3.7.1

[2019-01-20 21:35] fniephaus commented on #50
Hi @akougblenou,
I'm afraid I can't explain why it's not working for you. I can only offer to remote debug this on your machine via a screen sharing session. Let me know if that's an option for you.

Fabio

[2019-01-22 17:46] akougblenou commented on #50
I solved the issue:
- I went to "Edit Details" on the Workflow
- the website was set to your github
- I changed it to the home of pocket and finally got prompt to get the access

Now it works !

[2019-01-22 18:50] fniephaus commented on #50
Perfect!

[2019-01-22 18:50] #50 closed

[2019-11-06 19:43] martinklepsch commented on #18
I had the same issue just now, none of the hotkeys were bound after installing the workflow.

[2020-04-03 14:39] spearkkk opened #54 "Refresh when Link is deleted"
Hi, Iam spearkkk

Thank you for your nice sharing.
Would you update this workflows?
If link is removed in my pocket, the list will be refreched automatically.

Thanks!

[2020-04-07 20:57] pqrth opened #55 "Alfred 3 compatibility of v7.3"
First of all @fniephaus, thanks a ton for creating and maintaining this powerful workflow for my beloved reading list service 😍

Now, I installed _alfred-pocket_ v7.3 from both [Packal](https://www.packal.org/workflow/pocket-alfred) and [GitHub releases page](https://github.com/fniephaus/alfred-pocket/releases/tag/v7.3) with SHA-256 _324ec3030a92f04e3ac3017ebf867f1634aa15c2c316ca44356ad889869b4d4d

[2020-04-08 19:03] fniephaus commented on #55
AFAIK nothing that changed from 7.2 to 7.3 should cause this behavior. I'm guessing Alfred 3 has noticed that this is a workflow for a newer version of Alfred. Considering Alfred 4 was released almost a year ago, I probably don't want to maintain compatibility if it's too much effort. Why are you still on 3 anyway? Any particular reason?

[2020-04-24 09:23] clicseo opened #56 "Adding link with custom tags -> no suggestions"
Hello, first thank you for this awesome workflow. I use every day and it works pretty well.

The only thing is that I generally don't get any suggestion when I use the hotkey of "adding link with custom tags". Maybe 1-2 out of every 10 times I get the available tags suggested and can select them easily, the other times I have to write them by hand and try to remember the ones that already exist. W

[2020-04-24 09:42] clicseo commented on #56
I have reset all the hotkey and enabled the workflow again and it seems to be working now. Strange, its been a month or so I was having this problem. I'll update this issue in a couple of days.

[2020-04-24 20:45] clicseo commented on #56
It happened again, I dont have tags suggestions anymore.

![2020-04-24 at 22 45](https://user-images.githubusercontent.com/48122611/80255497-5434c580-867d-11ea-8082-8db4ae8c0550.jpeg)

[2020-08-20 13:27] arliber opened #57 "Reset authentication"
Hello,

First of all, thanks for making this, it's amazing!

I would love to know how can I reset the credentials to my Pocket account as I have 2 accounts and authenticated with the wrong one by mistake.

Deleting the folder `/Users/***/Library/Caches/com.runningwithcrayons.Alfred/` didn't help - I can still it successfully logging `got password : com.fniephaus.pocket:pocket_access_token` and get

[2020-08-20 13:29] fniephaus commented on #57
Hi @arliber,
You can remove your token using Apple's "Keychain Access". Just search for "com.fniephaus.pocket", delete the entry, and try again.

Cheers,
Fabio

[2020-08-20 13:29] #57 closed

[2020-09-15 14:55] fniephaus commented on #54
Hi @spearkkk,
I'm not sure I understand your request: do you want the workflow to reopen itself after you have deleted an entry? Or is the list not being updated on your machine?

[2020-09-15 14:56] fniephaus commented on #55
Closing this for now, the workflow is currently only supported on the latest Alfred release (v4 at the moment).

[2020-09-15 14:56] #55 closed

[2020-09-17 11:50] spearkkk commented on #54
FIrst of all, The deletion flow is following:
1. I open workflow and move into my Pocket list.
2. I select a element of list to delete.
3. I delele the element using `cmd` + `enter`.
4. There is a notification(pop-up) for notifying the deletion.
5. But there is still the element in the list(NOT auto refresh).
6. I close the workflow, and re-open it(or go back and move into Pocket list again).
7. I

[2020-11-24 13:33] philipbo opened #58 "In the request pocket, can add a proxy configuration？"
### Motivation

In China, because of the network problem, accessing the pocket is very slow

thanks!

[2020-11-26 16:18] fniephaus commented on #58
Hi @philipbo,

This workflow uses [`urllib2`](https://docs.python.org/2/library/urllib2.html) and you can [configure an http proxy with environment variables](https://stackoverflow.com/a/3168244).

Please feel free to re-open this issue if you have any further questions!

[2020-11-26 16:18] #58 closed

[2022-03-23 22:54] xilopaint opened #60 "Python 3 support"
Apple has removed Python 2 in macOS 12.3. Any plans for adding support to Python 3?

[2022-03-25 08:29] fniephaus commented on #60
Hi @xilopaint, I'm afraid I don't have any plans at the moment (haven't upgraded yet)... but contributions are more than welcome!

[2022-04-06 19:37] nispr commented on #60
I did a quick fix [here](https://github.com/nispr/alfred-pocket/tree/maintenance/python3), but I've only touched 3 python scripts in my life so far. I forked [NorthIsUp/alfred-workflow-py3](https://github.com/nispr/alfred-pocket/tree/maintenance/python3) as `alfred-workflow` also lacks support for 12.3+, so it's kinda meh. Maybe the best thing to do is not migrating to python3 but introducing a fi

[2022-06-09 14:53] xilopaint commented on #60
@fniephaus I just submitted #61 fixing this.

Btw, I replaced Alfred-Workflow with Alpynist. A ported version to Python 3 of Alfred-Workflow I'm working on. The library is not publicly available yet, but I plan to release it in a few weeks.

[2022-06-24 12:51] fniephaus commented on #60
As a workaround, I'd recommend installing Python 2 via homebrew for now:
https://www.alfredapp.com/help/kb/python-2-monterey/

I'd like to continue using `alfred-workflow`, but that hasn't officially been migrated to Python 3 yet.

[2022-06-24 18:57] xilopaint commented on #60
Me too, but at this point it seems unlikely to happen. Dean hasn't been seen in recent months in both GitHub and Alfred Forum and he was never an enthusiast of the idea of a Python installation which is not built-in in macOS for UX reasons. Also, in recent years his workflows were written in Go, a language for which he has a library. The last commit for Alfred-Workflow dates from two years ago.

R

[2022-09-16 02:23] ghost opened #62 "Does this app(alfred-pocket) work on Windows 10?"
Hi all.

I wanted to know how to run this software, there is no documentation talking about it. Does this app(alfred-pocket) work on Windows 10?

[2022-09-19 04:57] #54 closed

[2022-09-23 09:30] fniephaus commented on #62
I don't think so. [Alfred App](https://www.alfredapp.com/) is for macOS only.

[2022-09-23 09:30] #62 closed, assigned to nobody